@model Entities.AdminViewModels.AdminStatisticsViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Company Statistics";
}

<div class="h1 mt-5 ml-3">@ViewBag.Title</div>
<div class="ml-3">All company statistics</div>
<hr />
<div class="row mt-2 mb-2 ml-3">
    <div class="col-md-1">
        @Html.ActionLink("Overview", "Index", null, new { @class = "btn" })
    </div>
    <div class="col-md-6 text-left">
        @Html.ActionLink("Employees", "EmployeeStatistics", null, new { @class = "btn" })
    </div>
</div>
<hr />
<div class="row mt-2 mb-2 ml-3">
    <div class="col-md-6">
        <p class="h5 text-center mb-3 charthead">Company employees yearly attendance</p>
        <canvas id="myChart"></canvas>
        <div class="container mt-5">
            Month :
            <select id="optMonth" class="btn">
                @foreach (var item in Model.Month)
                {
                    if (item == DateTime.Now.Month)
                    {
                        <option value="@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <p class="h5 text-center mb-3 charthead">Company employees hourly pay rate and overtime</p>
        <canvas id="myChart2"></canvas>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>

        $(document).ready(function () {
            var EmployeesNames = [];
            var EmployeesPayRate = [];
            var EmployeesOvertimeRate = [];
            var myChart;
            var myChart2;
            var ctx = document.getElementById("myChart").getContext('2d');
            var ctx2 = document.getElementById("myChart2").getContext('2d');
            AllEmployeesPayRate();
            CompanyAttendance();

            function AllEmployeesPayRate() {
                EmployeesNames = [];
                EmployeesPayRate = [];
                EmployeesOvertimeRate = [];

                $.ajax({
                    type: "GET",
                    url: "/AdminStatistics/CompanyEmployeesSalaries",
                }).done(function (data) {
                    EmployeesNames = data.EmployeesNames;
                    EmployeesPayRate = data.EmployeesPayRate;
                    EmployeesOvertimeRate = data.EmployeesOvertimeRate;

                    myChart = new Chart(ctx2,
                        {
                            type: 'bar',
                            data: {
                                labels: EmployeesNames,
                                datasets: [
                                    {
                                        label: 'Pay / Hour',
                                        data: EmployeesPayRate,
                                        backgroundColor: "rgba(201,81,106,1)"
                                    }, {
                                        label: 'Overtime / Hour',
                                        data: EmployeesOvertimeRate,
                                        backgroundColor: "rgba(74,118,189,1)"
                                    }
                                ]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                });
            };

            function CompanyAttendance() {
                TotalWorkDays = [];
                TotalAbsentDays = [];
                TotalHolidays = [];
                EmployeeNames = [];
                month = $('#optMonth').val();

                $.ajax({
                    type: "GET",
                    url: "/AdminStatistics/CompanyAttendance?month=" + month,
                }).done(function (data) {
                    TotalWorkDays = data.TotalWorkDays;
                    TotalAbsentDays = data.TotalAbsentDays;
                    TotalHolidays = data.TotalHolidays;
                    EmployeeNames = data.EmployeeNames;
                    console.log(EmployeesNames);
                    myChart2 = new Chart(ctx,
                        {
                            type: 'line',
                            data: {
                                labels: EmployeesNames,
                                datasets: [
                                     {
                                        label: 'Absent Days',
                                        fill: true,
                                        data: TotalAbsentDays,
                                        borderJoinStyle: 'bevel',
                                        lineTension: 0.1,
                                        backgroundColor: "rgb(219, 76, 59,0.8)",
                                        borderColor: "rgb(219, 76, 59,1)",
                                        borderWidth: 2,
                                        pointStyle: 'triangle',
                                        pointRadius: 5
                                    },
                                    {
                                        label: 'Holidays',
                                        fill: true,
                                        data: TotalHolidays,
                                        borderJoinStyle: 'bevel',
                                        lineTension: 0.1,
                                        backgroundColor: 'rgba(74,118,189,0.6)',
                                        borderColor: 'rgba(74,118,189,1)',
                                        borderWidth: 2,
                                        pointStyle: 'circle',
                                        pointRadius: 2
                                    },
                                    {
                                        label: 'Work Days',
                                        fill: true,
                                        data: TotalWorkDays,
                                        borderJoinStyle: 'bevel',
                                        lineTension: 0.1,
                                        backgroundColor: 'rgb(46, 155, 159, 0.5)',
                                        borderColor: 'rgb(46, 155, 159, 1)',
                                        borderWidth: 2,
                                        pointStyle: 'rect',
                                        pointRadius: 5
                                    }
                                ]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            max: 30
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            max: EmployeesNames.length + 2
                                        }
                                    }]
                                }
                            }
                        });
                });
            };

            $("#optMonth").change(function () {
                myChart2.destroy();
                CompanyAttendance();
            });
        });
    </script>
}