@model  Entities.AdminViewModels.EmployeeChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("EmployeeChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div> <div class="form-group">
        @Html.HiddenFor(m => m.Username, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
    @Html.HiddenFor(m => m.LoggedCompany)
    @Html.HiddenFor(m => m.LoggedUser)
    @Html.HiddenFor(m => m.LogoUrl)
}

<div>
    @Html.ActionLink("return", "Index", "Admin", null, new { @class = "btn btn-info m-2" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}